.product-images__container {
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
}

.product-images__main-image-container {
    position: relative;
}

.product-images__main-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.image-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-images__thumbs-container {
    display: none;
}

.product-images__thumb {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 0.5rem;
}

@media screen and (min-width: 720px) {
    .product-images__container {
        width: min(80%, 100vw);
    }

    .product-images__main-image {
        border-radius: 1rem;
    }
    .product-images__thumbs-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
