.product__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    padding: 5rem 0;
    border-top: 2px solid var(--clr-neut-dk);
    justify-items: center;
    align-items: center;
}
