.product__container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    padding: 5rem 0;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 920px) {
    .product__container {
        border-top: 2px solid var(--clr-neut);
    }
}
