.product-images__container {
    max-width: 100%;
    gap: 2rem;
    padding: 0 3rem;
}

.product-images__main-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 1rem;
}

.product-images__thumbs-container {
    width: 100%;
    max-width: 100%;
    gap: 2rem;
}

.product-images__thumb {
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 0.5rem;
}
